<!DOCTYPE html>

<html>
    <head>
        <title>Nginx successfully installed</title>
    </head>
    <body>
        <h1>Nginx successfully installed on host {{ ansible_hostname }} </h1>
        <p>Hi otus teacher :-)</p>
    </body>
</html>
